.logo-text {
	position: absolute;
	top: 0;
	left: -9999px;
}
body, html {
	width: 100%;
	height: 100%;
/*
	padding: 0;
	margin: 0;
*/
}

body {
	background: url(../img/page_bgr.png) no-repeat;	
	position: relative;	
	background-size: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.header {
	background: #767474 url(../img/head_bgi.png);
	position: relative;
	height: 90px;
	margin-bottom: 33px;
}

.header:after {
	content: '';
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 90px;
    width: 100%;
    height: 7px;
}

.logo {
	
}

.logo-img {
	margin-top: 10px;	
	margin-left: 8px
}

.socials {
	float: right;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.socials-item {
	list-style: none;
	float: left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 40px;

}

.social-item-link {
	background-image: url(../img/soc_sprite.png);	
	display: list-item;
	height: 100%;
	width: 38px;
	margin-right: 14px;
    background-repeat: no-repeat;
    background-position: 0px -60px;

}

.vklink {
	background-position: -51px -60px;
}

.twitlink {
	background-position: -103px -60px;
}

.gitlink {
	background-position: -155px -60px;
	margin-right: 0px;
}

.facelink:hover {
	background-position: 0px 2px;
}

.vklink:hover {
	background-position: -51px 2px;
}

.twitlink:hover {
	background-position: -103px 2px;
}

.gitlink:hover {
	background-position: -155px 2px;
}


.container {
	width: 960px;
	margin: 0 auto;
}

.container-wide {
	width: 1200px;
}

.sidebar {
	float: left;
	width: 250px;
}

.nav {

}

.info-me {
	margin: 0;
	padding: 0;
	margin-bottom: 34px;
	border-radius: 4px 4px 4px 4px;
 	overflow: hidden;
    box-shadow: 0px 2px 1px 0.00px rgba(9, 9, 9, 0.07);
    border: 1px solid rgb(214, 213, 211);
    border-top: none;
}

.info-list {
	list-style: none;
	line-height: 56px;
	border: 1px solid #b6b6b6;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    background-color: #f3f1f0;
    background: -webkit-linear-gradient(270deg, rgba(9, 9, 9, .1) 0%, rgba(9, 9, 9, .3)1%, rgba(255,255,255, .5) 3%, rgba(200,200,200,.5)100%), -webkit-linear-gradient(left, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);


}

.info-list:hover {
	color: #1e7465;
    background-color: #e3e1e1;
    background-image: linear-gradient(#e8e7e7 13%, #e3e1e1, #c2c0c0);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.about-list-active {
    background: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.info-link {
	text-decoration: none;
	font-family: "open_sanssemibold";
	font-size: 20px;
	color: #727070;
	padding-left: 26px;
	display: list-item;
}

.contacts {	

}


.contacts-title {
	font-family: "open_sanssemibold";
	font-size: 20px;
	padding-left: 26px;
	line-height: 43px;
	border-radius: 4px 4px 0px 0px;
    background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
    color: rgb(208, 152, 44);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 39px;
	font-family: "open_sansregular";
	font-size: 14px;
	border-radius: 0px 0px 4px 4px;

}

.contacts-links {
    border-style: solid;
    border: 1px solid rgb(214, 213, 211);
    background-color: white;
	background-image: -webkit-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
 }

.contacts-links:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	text-decoration: underline;	
}

.contacts-info-link {
    background-image: url('../img/contacts.png');
    background-repeat: no-repeat;
    background-position: 19px -37px;
	font-family: 'open_sansregular';
	font-size: 14px;	
	text-decoration: none;
	padding-left: 98px;
	display: list-item;
	color: #727070;
}

.info-mail {
    background-position: 19px 1px;
}

.info-skype {
	background-position: 19px -74px;
	border-radius: 0px 0px 4px 4px;	
}

.content-section {
	margin-bottom: 35px;
	border: 1px solid #CECECE;
	border-radius: 0px 0px 4px 4px;
}

.content-area {
	width: 650px;
	float: right;
}

.about-title {
	height: 56px;
	border-radius: 4px 4px 0px 0px;    background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
    background-color: #a9a8a8;
    background-image: linear-gradient(#a9a8a8, #7b7878);
    border: 1px solid #757575;
    box-shadow: inset 0 1px #c3c2c2;
}

.content-about-title {
	margin: 0px;
	padding-left: 41px;
	padding-top: 8px;
	color: #eeedec;
	font-family: 'open_sanssemibold';
	font-size: 24px;
}

.content-about {
    background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	border-radius: 0px 0px 4px 4px;
}

.content-body {
	padding: 38px 41px;
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #727070;
	min-height: 153px;
}

.content-info {
	margin: 10px 0px 0px 0px;
	display: inline-block;	
}

.content-span {
	font-family: 'open_sanssemibold';
	font-size: 14px;	
}

.avatar-box {
	width: 133px;
	height: 133px;
	border-radius: 50% 50%;
	margin: 0px 35px 0px 0px;
	display: block;
	overflow: hidden;
	float: left;
	border: 5px solid #f6f5f4;
	box-shadow: 3px 1px rgba(0,0,0,.1);
}

.avatar-logo {
	width: 100%;
}

.skills-box {
	width: 253px;
	display: inline-block;
	position: absolute;
	margin: 11px 16px;
}

.skills-list {
	list-style: none;
	font-family: 'open_sanssemibold';
	font-size: 9px;
	text-transform:uppercase;
	color: #1e7465;
	float: right;
	padding: 0px;
	margin: 0px;
}

.skills-points {
	display: inline-block;
    float: left;
    margin-right: 25px;
    height: 27px;
}

.skills-points>span {
    background: url('../img/marker_bg.png') 0 0 repeat-x;
    display: inline-block;
    height: 29px;
    padding: 0 3px;
    font-family: 'open_sanssemibold', sans-serif;
    font-size: 11px;
    color: #1e7465;
    text-decoration: none;
    margin-bottom: 5px;	
    position: relative;
}

.skills-points>span:before {
    content: "";    
    background: url('../img/marker_before.png') 0 0 no-repeat;
    display: block;
    height: 21px;
    margin-left: -13px;
    margin-bottom: -18px;
}

.skills-points>span:after {
    content: "";    
    background: url('../img/marker_after.png') 0 0 no-repeat;
    display: block;    
    height: 21px;
    margin-right: -9px;
    margin-top: -18px;
    background-position: right;    
}

.expirience {
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 1px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	padding: 38px 0px;
}

.expirience-list {
	list-style: none;
	margin: 0px;
	padding: 0px 41px;
}

.expirients-point {
    border-bottom: 1px solid #dbdbda;
    width: 560px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.expirients-point:last-of-type {
	border-bottom: none;
	margin: 0px;
	padding-bottom: 0px;
}

.about-icon {
	background-image: url(../img/about_icons.png);
    background-repeat: no-repeat;
    background-position: 18px -57px;
    display: inline-block;
    margin: 0px;
    width: 54px;
    height: 54px;
    border-radius: 50%;    
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004), inset 2px 3px 0px 0px rgba(199, 199, 199, 0.75);
}

.expirients-info {
    color: #727070;	
    display: inline-block;
    position: absolute;
    padding-left: 43px;
}

.expirients-span {
    font-family: 'open_sanssemibold';
    font-size: 14px;

}

.p-about {
    font-family: 'open_sansregular';
    font-size: 14px;
    margin: 0px;
}

.about-school {
    background-position: -73px -57px;
}

.about-vuz {
    background-position: -73px -132px;
}

.about-ptu {
    background-position: -73px -132px;	
}

.about-loft {
    background-position: 18px 19px;
}

.empty {
	height: 60px;
}

.castle {
	padding-left: 28px;
    text-decoration: none;
    display: block;
    float: left;
    font-family: open_sansbold, sans-serif;
    font-size: 14px;
    color: #9c9c9c;
    margin-right: 60px;
    margin-left: 170px;
    background: url('../img/castle_bg.png') no-repeat 0 0;
}

.castle:hover {
	background: url('../img/castle_bg.png') no-repeat 0 -21px;
}
.call_copyright {
    text-align: left;
    font-family: open_sanslight, sans-serif;
    font-size: 12px;
    margin-top: 22px;
}

.footer {
    background-color: #fafafa;
    background-image: linear-gradient(rgba(255,255,255,.06), rgba(0,0,0,.06));
    border-top: 1px solid #607775;
	height: 60px;
	margin-top: -60px;
	position: relative;
}
.clearfix:before,
.clearfix:after {
content: " "; 
display: table;
}
.clearfix:after {
clear: both; 
}

